

.selectable:active {
  background-color: rgba(51, 181, 229, 0.6);
}

.pull-right {
  float: right !important;
}

html, body {
      padding: 0;
      margin: 0;
      height: 100%;
}

.page {
	min-height: 100%;
	position: relative;
}

.content {
	position:relative; 
	top:50px; 
	bottom:50px; 
	padding-bottom: 50px;
	left:0px; 
	right:0px; 
	overflow:scroll;
}
.header {
	position:fixed; 
	top:0px; 
	left:0px; 
	height:50px; 
	right:0px;
	overflow:hidden;
	z-index: 100;
}

.footer {
	position:fixed; 
	bottom:0px; 
	height:50px; 
	left:0px; 
	right:0px; 
	overflow:hidden;
	z-index: 100;

	border-bottom: 2px solid #1f1f1f;
	background-color: #222;
	box-sizing: border-box;
	box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

