
.selectable:active {
  background-color: rgba(51, 181, 229, 0.6);
}

.pull-right {
  float: right !important;
}

.content {
	margin-bottom: 50px;
}

.action-bar-bottom {  
	height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    top: 200;
}

html{
    height: 100%	
}

body{
    min-height: 100%
	position:absolute;
	padding-bottom: 100px;

}
