/* Hard reset
-------------------------------------------------- */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
audio,
video {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Universal link styling */
a {
  color: #33B5E5;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Removes the dark touch outlines on links */

}

.selectable:active {
  /* background-color: rgba(51, 181, 229, 0.6); */

}

.pull-right {
  float: right !important;
}

html, body {
	padding: 0;
	margin: 0;
  	height: 100%;
    font: 16px/1.6 "Roboto", sans-serif;
  	color: #fff;
  	background-color: rgb(238,238,238);

  	width: 320px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.page {
	min-height: 100%;
	position: relative;
}

.content {
	position:relative; 
	top:50px; 
	bottom:50px; 
	padding-bottom: 50px;
	left:0px; 
	right:0px; 
	overflow:scroll;	
}

#profileFeeds {
	position:relative; 
	top:100px; 
	bottom:50px; 
	padding-bottom: 50px;
	left:0px; 
	right:0px; 
	overflow:scroll;	
}

.header {
	position:fixed; 
	top:0px; 
	left:0px; 
	height:50px; 
	right:0px;
	overflow:hidden;
	z-index: 100;

	display: inline-block;
	margin-left: 1px;
	font-weight: normal;
	color: #f0f0f0;
	font-size: 16px;
	line-height: 48px;

	border-bottom: 2px solid #1f1f1f;
	background-color: #222;
	box-sizing: border-box;
	box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.profileHeading {
	position:fixed; 
	top:50px; 
	left:0px; 
	height:50px; 
	right:0px;
	overflow:hidden;
	z-index: 100;

	display: inline-block;
	margin-left: 1px;
	font-weight: normal;
	color: #f0f0f0;
	font-size: 16px;
	line-height: 48px;

	border-bottom: 2px solid #1f1f1f;
	background-color: #222;
	box-sizing: border-box;
	box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.footer {
	position:fixed; 
	bottom:0px; 
	height:50px; 
	left:0px; 
	right:0px; 
	overflow:hidden;
	z-index: 100;

	border-bottom: 2px solid #1f1f1f;
	background-color: #222;
	box-sizing: border-box;
	box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.row {
	position: relative;
}

.leftCheckMark {
    position: absolute;
    left: 60px;
    top: 120px;
    z-index: 100;
}

.rightCheckMark {
    position: absolute;
    left: 210px;
    top: 120px;
    z-index: 100;
}

.leftLabel {
    position: absolute;
    left: 60px;
    top: 150px;
    z-index: 100;
}

.rightLabel {
    position: absolute;
    left: 210px;
    top: 150px;
    z-index: 100;
}
